/* ****************************Tag Selector************************** */

body{
    background-color:red;
}
h1{
    font-size:50px;
}
/* ***************************CLass Selector********************* */
.bacon{
    backgroung-color:green;
}
img{
    background-color:blue;
    
}